
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        <p style="color: red;">Đây là trang thêm mới 1 sinh viên!</p>

    </div>
</body>
</html>
