
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p style="color: blue;">Đây là trang xem thông tin sinh viên</p>
    </div>
</body>
</html>
